body {
  background: #000;
}
/*我是被编译的*/
.box {
  width: 300px;
  height: 300px;
  background: yellow;
  border: 5px solid pink;
}
.border {
  border: 5px solid pink;
}
.box2 {
  width: 300px;
  height: 300px;
  background: yellow;
  border: 5px solid pink;
  margin-left: 100px;
  border: solid #008000 10px;
}
.test_hunhe {
  border: solid #008000 30px;
}
.test_hunhe3 {
  border: solid #0000ff 20px;
}
.radius_test {
  width: 100px;
  height: 40px;
  background-color: green;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.sanjiao {
  border-width: 100px;
  border-color: transparent #cccccc transparent transparent;
  border-style: dashed solid dashed  dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.dy {
  width: 200px;
  height: 200px;
  background: #fff;
  position: relative;
}
.test_02 {
  width: 1400px;
  color: #c2c2c2;
}
/*
.list{}
.list li{}
.list a{}
.list span{}
*/
.list {
  width: 600px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
}
.list li {
  height: 30px;
  background: pink;
  margin-bottom: 5px;
  padding: 0 10px;
}
.list a {
  float: left;
}
.list a:hover {
  color: red;
}
.list span {
  float: right;
}
.test_arg {
  border: 40px #ff0000 solid;
}
.test_03 {
  width: calc(300px - 30px);
}
.test_important {
  border: solid #0000ff 50px !important;
}
